body{
    cursor: url("../img/brujula.png");
}
header{
    background: url("../img/fondos\ 4.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 30px ;
  
}
.bg-nav-rumbo{
    background: transparent !important;
}
.bg-nav-rumbo{
    background: transparent !important;
}
.bg-nav-rumbo ul li a.nav-link:hover{
    border-bottom: 2px solid rgb(225, 124, 245);
    border-top: 2px solid rgb(210, 152, 243);
    color: rgb(21, 194, 247);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#hero{
    text-align: center;
    margin-top: 200px;
}
#hero h2{
    font-size: 60px;
    color: rgb(240, 240, 240);
    margin-bottom: 0;
}

#hero h1{
    color: white;
    margin-bottom: 50px;
}

#hero button{
    background: rgb(144, 40, 230);
    color: #8feef1;
    padding: 5px 20px;
    font-size: 30px;
    border-radius: 30px;
    font-weight: 500;
    border-color: transparent;
}
/* Estilos de la sección PLAN */
#planes{
    padding: 12px 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#planes h2{
    font-weight: 9f00;
    margin-bottom: 40px;
    font-size: 40px;
}

#planes p{
    font-size: 20px;
}

#planes .plan{
    margin-top: 80px;
    position: relative;
}

#planes .plan h3{
    color: yellow;
    position: absolute;
    z-index: 99;
    top: 100px;
    left: 0;
    right: 0;
    text-align: center;
}

/* Estilos de sección de Destinos */
#ubicacion{
    width: 100%;
    background: url("../img/fondo\ segundo\ 2.webp");
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 25px;
    text-align: center;
    color: rgb(230, 50, 230);
    padding-bottom: 120px;
}
#ubicacion h2{
    color: rgb(19, 171, 241);
    font-size: 40px;
    margin-bottom: 100px;
    font-weight: 700;
}

#ubicacion h3{
    color:  rgb(250, 248, 248);
    font-size: 28px;
    margin-bottom: 20px 0 50px;
}

/* Estilos sección de Contacto */
#contacto {
    background-color: rgb(123, 243, 243);
    text-align: center;
    width: 100%;
    padding: 100px 0;
}

#contacto h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contacto p{
    font-size: 20px;
    margin-bottom: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contacto form{
    width: 90%;
    margin: 0 auto;
    max-width: 700px;
   margin-bottom: 40px;
}

#contacto form input, 
#contacto form select{
    padding: 10px 15px;
    max-width: 100%;
    margin: 15px 0;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#contacto form button{
    border-radius: 10px;
    padding: 10px 40px;
    background-color: rgb(234, 136, 243);
    margin-top: 40px  rgb(245, 131, 131) ;
    color: #d40000;
    font-size: 20px;
    border: 3px solid black;
}

footer{
    background: #000;
    color: #fff;
    padding: 30px;
    text-align: center;
}
    

/* EFECTOS HOVER */

#hero img,
nav img
#hero button,
#planes img
#destinos img{
    transition: .5s;
}
#hero img:hover{
    transform: rotate(360deg);
}
nav img:hover{
    transform: scale(1.1);
}
#hero button:hover{
    box-shadow: 4px 6px 8px 8px greenyellow;

}
#planes img:hover{
    border-radius: 0 40% 0 40%;
    
  

}
#destinos img:hover{
    transform: scale(0.8c);
}

